     *.iml
     # игнорировать файлы, содержащие пароли или ключи доступа
     *.key
     *.pem
     *.pass
     *.passwd

     # игнорировать директории, содержащие временные файлы или логи
     logs/
     temp/
     cache/
     .tmp/
     *.log
     *.log.*

     # игнорировать скомпилированные файлы
     *.class
     *.jar

     # игнорировать файлы, созданные IDE
     .idea/
     .vscode/
     .project
     .classpath

     # игнорировать файлы конфигурации и зависимостей
     *.cfg
     *.conf
     *.properties
     *.xml
     *.yml
     *.yaml
     *.json
     *.lock
/JBorn_Web_11_Shapovalov.iml
/target/
/.idea/
/.DS_Store
/out/
/src/.DS_Store
/src/main/.DS_Store
/src/main/java/.DS_Store
/src/main/java/ru/.DS_Store
/src/main/java/ru/shapovalov/.DS_Store
/src/test/.DS_Store
/src/test/java/.DS_Store
/src/test/java/ru/.DS_Store
/src/test/java/ru/shapovalov/.DS_Store